@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";

@theme {
	--font-sans: ['"Inter", "sans-serif"'];
	--font-mono: 'JetBrains Mono', 'monospace';
}

/* This is the actual theme since Tailwind in Starlight seems a bit broken rn */
:root,
::backdrop {
	--sl-font: 'Inter', 'sans-serif';
	--sl-font-mono: 'JetBrains Mono', 'monospace';
	--sl-color-text: #FFFFFF;
	--sl-color-text-accent: #3a6ac1;
	--sl-color-text-invert: #000000;
	--sl-color-bg: #13131c;
	--sl-color-bg-nav: #181d25;
	--sl-color-bg-sidebar: #181d25;
	--sl-color-bg-inline-code: #353535;
	--sl-color-bg-accent: #3a6ac1;
}


:root[data-theme='light'],
[data-theme='light'] ::backdrop {
	--sl-color-text: #000000;
	--sl-color-text-accent: #1b57c4;
	--sl-color-text-invert: #FFFFFF;
	--sl-color-bg: #FFFFFF;
	--sl-color-bg-nav: #efefef;
	--sl-color-bg-sidebar: #efefef;
	--sl-color-bg-inline-code: #e3e3e3;
	--sl-color-bg-accent: #1b57c4;
}